<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="./login.css">
</head>
<body>
	<div class="login-form" style="position: absolute;
  right: 600px;
  top: 200px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;">
		<h1>Login From</h1><hr>
		<form action='#' method="post">
			<div class="txt"><p>Username</p>
			<input type="text" name="user" placeholder="User Name">
			<div class="txt"><p>Password</p></div>
			<input type="password" name="password" placeholder="Password"></div>
			<a href="{% url 'main' %}" class = "btn btn-primary" style="width:80%;">Login</a>
			<div class="signup_link">
			Not a member? <a href="C:\Users\Arsen Toksyn\Desktop\Final project WEB\signup.html"><i>Signup</i></a>
			</div>
		</form>
	</div>
</body>
</html>


